<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">The Weekly Specials</a>
        <ul class="nav">
            <li ng-repeat="day in daysOfWeek" ng-class="{active: $index==selectedDay}">
                <a ng-click="onSelectDay($index)">{{day}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="pull-right">
            <select ng-model="city" ng-options="c.id as c.name for c in cities"></select>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Food Deals for {{daysOfWeek[selectedDay]}}:</h3>

            <ul class="media-list">
                <deal-summary ng-repeat="deal in dealsShown" deal="deal"></deal-summary>
            </ul>

        </div>
    </div>
</div>