<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">The Weekly Specials</a>
        <ul class="nav">
            <li ng-repeat="day in daysOfWeek" ng-class="{active: $index==selectedDay}">
                <a ng-click="onSelectDay($index)">{{day}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12">
            <h4>Food deals for {{daysOfWeek[selectedDay]}}:</h4>
        </div>
        <ul>
            <li ng-repeat="deal in dealsShown"><b>{{deal.vendor}}: </b>{{deal.lead}}</li>
        </ul>
    </div>
</div>